.pagination {
  display: flex;
  gap: 10px;
}

.pageNumber {
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.pageNumber.active {
  background-color: #007bff;
  color: white;
}

.dots {
  padding: 5px 10px;
  cursor: default;
  border: 1px solid #ccc;
  border-radius: 5px;
}