.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.goToSelectedButton {
  background-color: #007bff; /* Синій фон */
  color: white;
  padding: 12px 30px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 50px; /* Округлені кути */
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2); /* Легкий тіньовий ефект */
  display: inline-block;

  &:hover {
    background-color: #0056b3; /* Тіньовий ефект при наведенні */
    transform: translateY(-2px); /* Легке підняття кнопки */
    box-shadow: 0 6px 12px rgba(0, 86, 179, 0.3); /* Зміна тіні при наведенні */
  }

  &:active {
    background-color: #004085; /* Темніший фон при натисканні */
    transform: translateY(1px); /* Зворотний ефект при натисканні */
  }
}
